<nb-card size="small">
  <!-- <div class="picture" style.background-image="url('assets/images/kitten-{{currentTheme}}.png')"></div> -->

  <div class="details picture primary">
    <div class="h4">{{ project.name }}</div>
    <div class="description">
      UI Kitten is a framework that contains a set of commonly used UI components styled in a similar way.
    </div>
  </div>

  <nb-card-footer>
    <a href="https://hubs.ly/H0n50Gg0" target="_blank">
      <nb-icon icon="globe" pack="eva"></nb-icon>
    </a>
    <a href="https://itunes.apple.com/us/app/kitten-tricks/id1246143230" target="_blank">
      <i class="link-icon ion-social-apple"></i>
    </a>
    <a href="https://play.google.com/store/apps/details?id=com.akveo.kittenTricks" target="_blank">
      <i class="link-icon ion-social-android"></i>
    </a>
    <a href="https://github.com/akveo/react-native-ui-kitten" target="_blank">
      <nb-icon icon="github" pack="eva"></nb-icon>
    </a>
  </nb-card-footer>
</nb-card>
